# Dependencias
node_modules/

# Producción y Build
dist/
build/
out/

# Entorno y Secretos (¡Muy importante no subir esto!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operativo
.DS_Store
Thumbs.db

# Supabase / Docker local data
supabase_db/
.docusaurus/

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json